includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 6
    paths:
        - src
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Traits are analyzed when used, not standalone
        - '#Trait .* is used zero times and is not analysed#'
